<div class="row">
    <div class="col-xs-12 center top-bot-float">
        <img src="{{base_url}}template/img/shadow.png" class="img-circle col-xs-10 col-xs-offset-1"/>
    </div>
    <div class="col-xs-12 underline center">
        <h3 class="top-bot-float">Shadow Frameworks</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="menu row">
            <div class="link">
                <a href="{{base_url}}admin"><span class="glyphicon glyphicon-home"></span> Home </a>
            </div>
        </div>
    </div>
</div>