<div class="row">
    <div class="col-xs-12 center top-bot-float">
        <img src="{{base_url}}template/img/shadow.png" class="img-circle col-xs-10 col-xs-offset-1"/>
    </div>
    <div class="col-xs-12 underline center">
        <h3 class="top-bot-float">Site</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="menu row">
            <div class="link">
                <a href="{{base_url}}admin"><span class="glyphicon glyphicon-th-large"></span> Dashboard</a>
            </div>
            <div class="link">
                <a href="{{base_url}}admin/users"><span class="glyphicon glyphicon glyphicon-user"></span> Users</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        <a href="{{base_url}}admin/logout"><span class="glyphicon glyphicon-off"></span></a>
    </div>
</div>